<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card" style="min-width: 320px; max-width: 400px; width: 100%;">
    <div class="card-header">
      <h3>Login</h3>
      <div class="d-flex justify-content-end social_icon">
        <span><i class="fab fa-facebook-square"></i></span>
        <span><i class="fab fa-google-plus-square"></i></span>
        <span><i class="fab fa-twitter-square"></i></span>
      </div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        @if (errorMensagge) {
        <div class="text-danger">error de campos no pueden estar vacios</div>
        }
        <div class="input-group form-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" />
        </div>
        <div class="input-group form-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" name="password" placeholder="Password"
            [(ngModel)]="user.password" />
        </div>
        <div class="form-group my-3 text-end">
          <input type="submit" value="Login" class="btn btn-primary login_btn" />
        </div>
      </form>
    </div>
  </div>
</div>
